<tr>
    <th class="blank-cell"></th>
    <th class="header-row">Monday</th>
    <th class="header-row">Tuesday</th>
    <th class="header-row">Wednesday</th>
    <th class="header-row">Thursday</th>
    <th class="header-row">Friday</th>
</tr>
<tr>
    <th class="time-period">Period 1 <br>{{times.one}}</th>
    <td class="{{Monday.one.name}}"> <b>{{Monday.one.name}} </b> <br> {{Monday.one.room}} <br> {{Monday.one.teacher}}</td>
    <td class="{{Tuesday.one.name}}"> <b>{{Tuesday.one.name}} </b> <br> {{Tuesday.one.room}} <br> {{Tuesday.one.teacher}}</td>
    <td class="{{Wednesday.one.name}}"> <b>{{Wednesday.one.name}} </b> <br> {{Wednesday.one.room}} <br> {{Wednesday.one.teacher}}</td>
    <td class="{{Thursday.one.name}}"> <b>{{Thursday.one.name}} </b> <br> {{Thursday.one.room}} <br> {{Thursday.one.teacher}}</td>
    <td class="{{Friday.one.name}}"> <b>{{Friday.one.name}} </b> <br> {{Friday.one.room}} <br> {{Friday.one.teacher}}</td>
</tr>
<tr>
    <th class="time-period">IGS <br>{{times.HR}}</th>
    <td class="{{Monday.two.name}}"> <b>{{Monday.two.name}} </b> <br> {{Monday.two.room}} <br> {{Monday.two.teacher}}</td>
    <td class="{{Tuesday.two.name}}"> <b>{{Tuesday.two.name}} </b> <br> {{Tuesday.two.room}} <br> {{Tuesday.two.teacher}}</td>
    <td class="{{Wednesday.two.name}}"> <b>{{Wednesday.two.name}} </b> <br> {{Wednesday.two.room}} <br> {{Wednesday.two.teacher}}</td>
    <td class="{{Thursday.two.name}}"> <b>{{Thursday.two.name}} </b> <br> {{Thursday.two.room}} <br> {{Thursday.two.teacher}}</td>
    <td class="{{Friday.two.name}}"> <b>{{Friday.two.name}} </b> <br> {{Friday.two.room}} <br> {{Friday.two.teacher}}</td>
</tr>
<tr>
    <th class="time-period">Period 2 <br>{{times.two}}</th>
    <td class="{{Monday.three.name}}"> <b>{{Monday.three.name}} </b> <br> {{Monday.three.room}} <br> {{Monday.three.teacher}}</td>
    <td class="{{Tuesday.three.name}}"> <b>{{Tuesday.three.name}} </b> <br> {{Tuesday.three.room}} <br> {{Tuesday.three.teacher}}</td>
    {{!-- add a rowspan=2 and comment out wednesday period 3 for projects--}}
    <td class="{{Wednesday.three.name}}"> <b>{{Wednesday.three.name}} </b> <br> {{Wednesday.three.room}} <br> {{Wednesday.three.teacher}}</td>
    <td class="{{Thursday.three.name}}"> <b>{{Thursday.three.name}} </b> <br> {{Thursday.three.room}} <br> {{Thursday.three.teacher}}</td>
    <td class="{{Friday.three.name}}"> <b>{{Friday.three.name}} </b> <br> {{Friday.three.room}} <br> {{Friday.three.teacher}}</td>
</tr>
<tr>
    <th class="time-period">Period 3 <br>{{times.three}}</th>
    <td class="{{Monday.four.name}}"> <b>{{Monday.four.name}} </b> <br> {{Monday.four.room}} <br> {{Monday.four.teacher}}</td>
    <td class="{{Tuesday.four.name}}"> <b>{{Tuesday.four.name}} </b> <br> {{Tuesday.four.room}} <br> {{Tuesday.four.teacher}}</td>
    <td class="{{Wednesday.four.name}}"> <b>{{Wednesday.four.name}} </b> <br> {{Wednesday.four.room}} <br> {{Wednesday.four.teacher}}</td>
    <td class="{{Thursday.four.name}}"> <b>{{Thursday.four.name}} </b> <br> {{Thursday.four.room}} <br> {{Thursday.four.teacher}}</td>
    <td class="{{Friday.four.name}}"> <b>{{Friday.four.name}} </b> <br> {{Friday.four.room}} <br> {{Friday.four.teacher}}</td>
</tr>
<tr>
    <th class="time-period">Period 4 <br>{{times.four}}</th>
    <td class="{{Monday.five.name}}"> <b>{{Monday.five.name}} </b> <br> {{Monday.five.room}} <br> {{Monday.five.teacher}}</td>
    <td class="{{Tuesday.five.name}}"> <b>{{Tuesday.five.name}} </b> <br> {{Tuesday.five.room}} <br> {{Tuesday.five.teacher}}</td>
    <td class="{{Wednesday.five.name}}"> <b>{{Wednesday.five.name}} </b> <br> {{Wednesday.five.room}} <br> {{Wednesday.five.teacher}}</td>
    <td class="{{Thursday.five.name}}"> <b>{{Thursday.five.name}} </b> <br> {{Thursday.five.room}} <br> {{Thursday.five.teacher}}</td>
    <td class="{{Friday.five.name}}"> <b>{{Friday.five.name}} </b> <br> {{Friday.five.room}} <br> {{Friday.five.teacher}}</td>
</tr>
<tr>
    <th class="time-period">Period 5 <br>{{times.five}}</th>
    <td class="{{Monday.six.name}}"> <b>{{Monday.six.name}} </b> <br> {{Monday.six.room}} <br> {{Monday.six.teacher}}</td>
    <td class="{{Tuesday.six.name}}"> <b>{{Tuesday.six.name}} </b> <br> {{Tuesday.six.room}} <br> {{Tuesday.six.teacher}}</td>
    <td class="{{Wednesday.six.name}}"> <b>{{Wednesday.six.name}} </b> <br> {{Wednesday.six.room}} <br> {{Wednesday.six.teacher}}</td>
    <td class="{{Thursday.six.name}}"> <b>{{Thursday.six.name}} </b> <br> {{Thursday.six.room}} <br> {{Thursday.six.teacher}}</td>
    <td class="{{Friday.six.name}}"> <b>{{Friday.six.name}} </b> <br> {{Friday.six.room}} <br> {{Friday.six.teacher}}</td>
</tr>
<tr>
    <th class="time-period">Period 6 <br>{{times.six}}</th>
    <td class="{{Monday.seven.name}}"> <b>{{Monday.seven.name}} </b> <br> {{Monday.seven.room}} <br> {{Monday.seven.teacher}}</td>
    <td class="{{Tuesday.seven.name}}"> <b>{{Tuesday.seven.name}} </b> <br> {{Tuesday.seven.room}} <br> {{Tuesday.seven.teacher}}</td>
    <td class="{{Wednesday.seven.name}}"> <b>{{Wednesday.seven.name}} </b> <br> {{Wednesday.seven.room}} <br> {{Wednesday.seven.teacher}}</td>
    <td class="{{Thursday.seven.name}}"> <b>{{Thursday.seven.name}} </b> <br> {{Thursday.seven.room}} <br> {{Thursday.seven.teacher}}</td>
    <td class="{{Friday.seven.name}}"> <b>{{Friday.seven.name}} </b> <br> {{Friday.seven.room}} <br> {{Friday.seven.teacher}}</td>
</tr>
<tr>
    <th class="time-period">Period 7 <br>{{times.seven}}</th>
    <td class="{{Monday.eight.name}}"> <b>{{Monday.eight.name}} </b> <br> {{Monday.eight.room}} <br> {{Monday.eight.teacher}}</td>
    <td class="{{Tuesday.eight.name}}"> <b>{{Tuesday.eight.name}} </b> <br> {{Tuesday.eight.room}} <br> {{Tuesday.eight.teacher}}</td>
    <td class="{{Wednesday.eight.name}}"> <b>{{{Wednesday.eight.name}}} </b> <br> {{{Wednesday.eight.room}}} <br> {{{Wednesday.eight.teacher}}}</td>
    <td class="{{Thursday.eight.name}}"> <b>{{Thursday.eight.name}} </b> <br> {{Thursday.eight.room}} <br> {{Thursday.eight.teacher}}</td>
    <td class="{{Friday.eight.name}}"> <b>{{Friday.eight.name}} </b> <br> {{Friday.eight.room}} <br> {{Friday.eight.teacher}}</td>
</tr>
<tr>
    <th class="time-period">Period 8 <br>{{times.eight}}</th>
    <td class="{{Monday.nine.name}}"> <b>{{Monday.nine.name}} </b> <br> {{Monday.nine.room}} <br> {{Monday.nine.teacher}}</td>
    <td class="{{Tuesday.nine.name}}"> <b>{{Tuesday.nine.name}} </b> <br> {{Tuesday.nine.room}} <br> {{Tuesday.nine.teacher}}</td>
    <td class="{{Wednesday.nine.name}}"> <b>{{Wednesday.nine.name}} </b> <br> {{Wednesday.nine.room}} <br> {{Wednesday.nine.teacher}}</td>
    <td class="{{Thursday.nine.name}}"> <b>{{Thursday.nine.name}} </b> <br> {{Thursday.nine.room}} <br> {{Thursday.nine.teacher}}</td>
    <td class="{{Friday.nine.name}}"> <b>{{Friday.nine.name}} </b> <br> {{Friday.nine.room}} <br> {{Friday.nine.teacher}}</td>
</tr>
<tr>
    <th class="time-period">Period 9 <br>{{times.nine}}</th>
    <td class="{{Monday.ten.name}}"> <b>{{Monday.ten.name}} </b> <br> {{Monday.ten.room}} <br> {{Monday.ten.teacher}}</td>
    <td class="{{Tuesday.ten.name}}"> <b>{{Tuesday.ten.name}} </b> <br> {{Tuesday.ten.room}} <br> {{Tuesday.ten.teacher}}</td>
    <td class="{{Wednesday.ten.name}}"> <b>{{Wednesday.ten.name}} </b> <br> {{Wednesday.ten.room}} <br> {{Wednesday.ten.teacher}}</td>
    <td class="{{Thursday.ten.name}}"> <b>{{Thursday.ten.name}} </b> <br> {{Thursday.ten.room}} <br> {{Thursday.ten.teacher}}</td>
    <td class="{{Friday.ten.name}}"> <b>{{Friday.ten.name}} </b> <br> {{Friday.ten.room}} <br> {{Friday.ten.teacher}}</td>
</tr>